QWidget {

    background-color: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #1d1d1e,
    stop: 0.5 #bfb5be,
    stop: 1 #292929);
}

QPushButton {
   background-color: #D3D3D3;
    padding: 10px 10px;
    border-radius: 10px;
    font: bold 15px italic;
    color: #1d1d1e;

}
QPushButton:hover {
    font-size: 25px;
    background-color: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #1d1d1e,
    stop: 0.5 #494548,
    stop: 1 #F0F0F0);


}
QPushButton:pressed {
    background-color: rgba(255, 255, 255, 0.04);
}

QLineEdit {
    background-color: rgba(56, 56, 49, 0.38);
    border-radius: 6px;
    font: bold 20px italic ;
}

QCheckBox {
    background-color: rgba(56, 56, 49, 0.38);
    border-radius: 6px;
    font: 10px italic ;
}

QComboBox {
    background-color: rgba(56, 56, 49, 0.38);
    border-radius: 6px;
    font: bold 20px italic ;
}
